* {
    color: black;
    font-family: "Courier New";
}
h1 {
    background-color: brown;
    color:burlywood;
    font-size: 200%;
}
h2 {
    background-color: chocolate;
    color:cornsilk;
}

body {
    background-color: khaki;
}